<div class="poster">
    <div class="container title_content">
        <div class="row justify-content-center block_text">
            <div class="col-12 text-content">
                <h1 class="header_title">Mechanical wristwatch Bulova 97A136.</h1>
                <p class="header_sub-title">All Bulova watches are made from the finest materials, from durable
                    stainless steel for cases and bracelets to high-quality textured leather for straps.</p>

            </div>
        </div>
    </div>
</div>